#elapseClock {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}


#elapseClock .digit{
	font-family: "digit";
	font-size: 36px;
}

#time h1{
	text-align:center;
	font-size: 50px;
	font-family:'Lobster Two';
}


#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left:0px;
}

#time{
	width:600px;
	height:200px;
	position: absolute; 
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-100px;	
	color:black;
}

#myCanvas{
	position: absolute; 
	left:50%;
	top:50%;
	margin-left:-350px;
	margin-top:-350px;	
}

