#step1{
	position:relative;
	width:100%;
	height:600px;
}
#step2{
	position:relative;
	width:100%;
	height:100px;
}
#lovecover{
	height:2000px;
	background: #CC9999;
}


.say {
	width: 309px; 
	height: 389px;
	background: url(../images/bubble.png) no-repeat; 
	padding: 70px 90px 30px 160px; 
	font-family:"微软雅黑";
	position: relative;
	margin-left:50%;
	margin-top:0px;
}
.say h1,.say p {
	color: #fff;
	text-align: center; 
}
.say p {
	line-height: 21px; 
}

.full-background{
	position: fixed;
	bottom: 0;
	left: 25%;
}

/** video */
h3.videoLink:hover {
	margin-left: 10px;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
}
h3.videoLink {
	padding-left: 45px;
	background: url(../images/video_icon.png) no-repeat left center;
	cursor: pointer;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	color: white;
}
h3 {
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.1;
	color: rgba(0, 0, 0, 0.55);
	font-weight: 50000;
	margin-top: 24px;
	font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2";
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.075);
}

.videoCurtain {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 2;
	display: none;
}

.videoLarge {
  display: none;
	z-index: 1000;
	padding: 5px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.45);
  position: fixed;
  width: 1000px;
  height: 563px;
  left: 50%;
  top: 50%;
  margin: -282px 0 0 -500px;
}

/* Loading
-------------------------------------------- */
.loading {
	background: #000 url('../images/loading.gif') no-repeat center center; 
	width: 100%; 
	height: 100%;
	position: fixed; 
	z-index: 5; 
	top: 0; 
	left: 0; 
}
.loading span {
	position: absolute; 
	top: 54%; 
	left: 50%; 
	margin-left: -65px; 
	color: #FFF; 
	font-weight:bold;
}